// Override this file to add your own SCSS styling.

.wg-hero.dark .hero-title {
    // color: #000000; // black
    font-family: "Kaushan Script";
   }
   
   .wg-hero.dark .hero-lead{
    font-family: "Source Serif Pro";
   }

   .project-widget-simple .project-summary {
    font-family: "Source Serif Pro";
  }

  .featurette .section-subheading {
    font-family: "Source Serif Pro";
  }