<!-- <section class="home-section wg-blank" style="padding: 40px 0px 40px 0px; margin-top: 2rem">
    {{ if or (eq .Site.Language.Lang "es") (eq .Site.Language.Lang "ca") }}
     <div class="home-section-bg  bg-image" style="background-image: url('{{ "media/divider.svg" | absURL }}');background-size: contain;background-position: center;" id="divider"></div>
     <script>
      document.addEventListener('wcThemeChange', (e) => {
        // console.log('isDarkTheme? ' + e.detail.isDarkTheme());
        if (e.detail.isDarkTheme()) {
          document.getElementById("divider").style="background-image: url('{{ "media/divider-dark.svg" | absURL }}');background-size: contain;background-position: center;";
        } else {
          document.getElementById("divider").style="background-image: url('{{ "media/divider.svg" | absURL }}');background-size: contain;background-position: center;";
        }
        });
      </script>
     {{ else if eq .Site.Language.Lang "en" }}
     <div class="home-section-bg  bg-image" style="background-image: url('{{ "media/divider-en.svg" | absURL }}');background-size: contain;background-position: center;" id="divider"></div>
     <script>
      document.addEventListener('wcThemeChange', (e) => {
        // console.log('isDarkTheme? ' + e.detail.isDarkTheme());
        if (e.detail.isDarkTheme()) {
          document.getElementById("divider").style="background-image: url('{{ "media/divider-en-dark.svg" | absURL }}');background-size: contain;background-position: center;";
        } else {
          document.getElementById("divider").style="background-image: url('{{ "media/divider-en.svg" | absURL }}');background-size: contain;background-position: center;";
        }
        });
      </script>
     {{ end }}
  </section> -->
  
  <footer class="site-footer">
  
    {{ partial "hooks/footer" . }}
  
    <!-- {{ if .IsTranslated | and site.Params.footer.show_translations }}
       <div class="powered-by d-flex flex-wrap pb-2 justify-content-center">
         <div class="p-2 font-weight-bold">🌐 {{ i18n "languages" }}:</div>
         <div class="p-2">{{ index site.Data.i18n.languages .Lang }}</div>
         {{ range .Translations }}
           <div class="p-2"><a href="{{ .Permalink }}">{{ index site.Data.i18n.languages .Lang }}</a></div>
         {{ end }}      
       </div>
       <p class="powered-by">
        {{ if eq .Site.Language.Lang "es" }}
        (Versión en catalán traducida por <a href="https://fisiquimicamente.com/equipo/oscar-colomar/">Òscar Colomar</a> y <a href="https://fisiquimicamente.com/equipo/eduard-cremades/">Eduard Cremades</a>)
        {{ else if eq .Site.Language.Lang "en" }}
        (Catalan version translated by <a href="https://physichemically.com/team/oscar-colomar/">Òscar Colomar</a> and <a href="https://physichemically.com/team/eduard-cremades/">Eduard Cremades</a>)
        {{ else if eq .Site.Language.Lang "ca" }}
        (Versió en català traduïda per <a href="https://fisiquimicament.com/equip/oscar-colomar/">Òscar Colomar</a> i <a href="https://fisiquimicament.com/equip/eduard-cremades/">Eduard Cremades</a>)
        {{ end }}
       </p>
    {{ end }} -->
  
    {{ if or (site.GetPage "/terms.md") (site.GetPage "/privacy.md") }}
    <p class="powered-by">
      {{ with site.GetPage "/privacy.md" }}
        {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
      {{ end }}
      {{ with site.GetPage "/terms.md" }}
        {{ if site.GetPage "/privacy.md" }} &middot; {{ end }}
        {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
      {{ end }}
    </p>
    {{ end }}
  
    {{/* Display any social links that the superuser chose to display in the footer. */}}
    {{ $display_icons := false }}
    {{ range where (where (where site.Pages "Section" "authors") ".Params.superuser" true) ".Params.social" "!=" nil }}
      {{ range where .Params.social ".display.footer" true }}
        {{ if not $display_icons }}
          <div class="d-flex justify-content-center">
            <ul class="network-icon" aria-hidden="true">
        {{ end }}
        {{ $display_icons = true }}
        {{ $social_link := partial "functions/get_social_link" . }}
        <li>
          <a href="{{ $social_link.link | safeURL }}"{{ with $social_link.tooltip }} data-toggle="tooltip" data-placement="top" title="{{.}}"{{ end }} {{ $social_link.target | safeHTMLAttr }} aria-label="{{ $social_link.aria_label }}">
            <i class="{{ $social_link.icon_pack }} {{ $social_link.pack_prefix }}-{{ $social_link.icon }}" aria-hidden="true"></i>
          </a>
        </li>
      {{ end }}
    {{ end }}
    {{ if $display_icons }}
        </ul>
      </div>
    {{ end }}  
  
    {{ with site.Params.footer.text }}
    <p class="powered-by">
      {{ . | markdownify | emojify }}
    </p>
    {{ end }}
    
    {{/* Display copyright license. */}}
    {{ partial "site_footer_license" . }}
  
      {{ with site.GetPage "licencia.md" }}
      <p class="powered-by">
        {{ printf "<a href=\"%s\">%s <br> %s </a>" .RelPermalink .Title .LinkTitle  | safeHTML }}<br>
      </p>
      {{ end }}
  
    <p class="powered-by">
      <!-- Published with —
          the free, <a href="https://github.com/wowchemy/wowchemy-hugo-themes" target="_blank" rel="noopener"> website builder for  -->
            <br>
    </p>
    
    
  

  
  </footer>
  
  <!-- SiteKit -->
<script>
    (function(d, id) {
      if (d.getElementById(id)) return;
      var sc, node = d.getElementsByTagName('script')[0];
      sc = d.createElement('script'); sc.id = id;
      sc.src = 'https://sdk.getsitekit.com/static/js/app.js#apiKey=48d0e50fb657c8e66f9a7453904cd0c2';
      node.parentNode.insertBefore(sc, node);
    }(document, 'sitekit-sdk'));
  </script>